#plantxt {
    width: 962px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 10px 0px;
}

h4 {
    background-color: #1c4587;
    color: white;
    padding: 3px 12px;
}

p {
    padding-inline-start: 12px;
}

.bluetext {
    background: #c9daf8;
}

.greentext {
    background: #93c47d;
}

.yellowtext {
    background: #ffd966;
}

.redtext {
    background: #e6b8af;
}

.gant {
    width: 962px;
    height: 250px;
    margin: 0 auto;
}

canvas {
    border: 1px solid #1c4587;
    /* background-image: url("../img/gantprofile.svg");
    background-size: 962px 250px; */
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 10pt;
    width: 962px;
}

th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #1c4587;
    color: white;
    padding: 3px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

td {
    border-color: #1c4587;
    border-style: solid;
    border-width: 1px;
    padding: 0px 3px;
}